[submodule "api"]
	path = api
	url = git@github.com:mercedtime/api.git
[submodule "data"]
	path = data
	url = git@github.com:mercedtime/data.git
[submodule "docs"]
	path = docs
	url = git@github.com:mercedtime/docs.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:mercedtime/frontend.git
